<h1>Time Sheet</h1>

<div class="row">
   <div class="col-md-8">
     <% @teachers.each do |f| %>
       <% if f.clock_type == "In" %>
         <div class="media">
           <div class="media-body">
             <h4 class="media-heading">
               <%= f.name %>
             </h4>
             <small>
               Clocked in at: <%= f.time_in %>
             </small>
           </div>
         </div>
         <% else %>
           <div class="media">
             <div class="media-body">
               <h4 class="media-heading">
                 <%= f.name %>
               </h4>
               <small>
                 Clocked out at: <%= f.time_out %>
              </small>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
